{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="GET" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ form.search.label(class="form-control-label") }} {% if form.search.errors %} {{ form.search(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback"> {% for error in form.search.errors%} <span>{{error}}</span> {% endfor %} </div> {% else %} {{ form.usearch(class="form-control form-control-lg") }} {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div> {% endblock content %}
