{% extends "layout.html" %}
{% block content %}
    <h2>{{ subtitle }}</h2>
    <p>{{ text }}</p>
    <div class="input-group">
        <div class="form-outline">
            <input id="search-input" type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search for a movie, sport, or song</label>
        </div>
        <button id="search-button" type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
{% endblock content %}